**/.github/
**/.idea/
**/.nox/
**/.pytest_cache/
**/.ruff_cache/
**/.venv/
**/.vscode/
**/__pycache__/
**/build/
**/node_modules/
**/*.ts
**/*.vsix
**/*.map
*.pyc
*.ts
.eslintignore
.prettierignore
.gitignore
tsconfig.json
esbuild.mjs

# lets move some things from the python bundle that we don't need,
# but take up a lot of space
server/python/lib/tk*/
server/python/lib/tcl*/
server/python/lib/itcl*/
server/python/bin/pip*
server/python/**/site-packages/pip*
server/python/**/site-packages/pip*/
# this folder contains duplicated case-sensitive files that make vsce fail on linux
server/python/share/terminfo
